<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../default_theme/css/fuentes.css" rel="stylesheet" type="text/css" />
        <link href="../default_theme/css/componentes.css?v={STATICVERSION}" rel="stylesheet" type="text/css" />
        <link href="../default_theme/css/main.css?v={STATICVERSION}" rel="stylesheet" type="text/css" />
        <link rel="icon" type="image/x-icon" href="../default_theme/img/favicon.png">
    </head>
    <body>
        <div class="contenedor">
            <div class="header">
                <div class="menu">
                    <img src="../default_theme/img/logo_login.png" height="25"/>
                </div>
                <div class="menu_m">
                    <button class="burguer">
                        <img src="../default_theme/img/logo_login.png" height="25"/>
                    </button>
                </div>
            </div>

            <div class="contenido_flex">
                <nav>
                    <a href="#m1">Menu 1</a>
                    <a href="#m2">MENU 2</a>
                    <a href="#m3">MENU 3</a>
                    <a href="#m4">MENU 4</a>
                    <a href="#m5">MENU 5</a>
                </nav>
                <div class="contenido">
                    &nbsp; as das 
                </div>
            </div>
            <footer>
                &copy; Copyright 2022 - Control Ambiental S.A.
            </footer>
        </div>
    </body>
</html>
