<!DOCTYPE html>
<html>
    <head>
        <title>Login testeo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../default_theme/css/login.css?v={STATICVERSION}" rel="stylesheet" type="text/css" />
        <link rel="icon" type="image/x-icon" href="../default_theme/img/favicon.png">
    </head>
    <body>
        <div class="contenedor_login">
            <div class="logo">
                <img src="../default_theme/img/logo_login.png" style="width: 302px; height: 80px">
            </div>
            <form class="formulario" onsubmit="return false;">
                <label>Usuario</label><br />
                <input type="text" id="txtUsuario" name="txtUsuario" class="cajatexto" /><br /><br />
                <label>Contrase&ntilde;a</label><br />
                <input type="password" id="txtPass" name="txtPass" class="cajatexto" /><br /><br />
                <button type="submit" class="boton">Ingresar</button>
            </form>
        </div>
        <footer>
            <div class="pie"><small>© {YEAR} Control Ambiental S.A. - Todos los derechos reservados - Desarrollado por WM</small></div>
        </footer>
    </body>
</html>
