table{
    border-collapse: collapse;
}

table > * {
    width: 100%;
    max-width: 99%;
}

table td, table th {
    border: 1px solid var(--negro1);
}

table.espaciado td, table.espaciado th{
    padding: 10px;
}

table.noborder, table.noborder td{
    border: 0px !important;
}

td.td_center{
    text-align: center !important;
}

td.td_right{
    text-align: right !important;
}

.responsive{
    width: 100%;
}

td.td_sombra{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin: -1px;
    padding: 10px;
}

th{
    background-color: var(--azul-oscuro1);
    color: var(--blanco);
}

.tabla-blanca td{
    background-color: var(--gris10) !important;
}

table.tabla-cebra tr:nth-child(even){
    background-color: var(--acero1) !important;
}

table.ultima-fila-resaltada tr:nth-last-child(1), table.ultima-fila-resaltada tr:nth-last-child(1) td {
    font-weight: bold !important;
    background-color: var(--exito-leve) !important;
}

.tabla-sombra td{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin: -1px;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    /* Esto hace que los TD en modo movil se pongan a una columna */
    .tabla_1col td{
        display: block;
    }
}